# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
.gradle/
**/out/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env & secrets (keep out of git!)
.env
application-local.yml

# Java build outputs (VS Code/Eclipse)
bin/
out/
.classpath
.project
.settings/

